.content-rules {
  padding: 34px 30px;
}
@media screen and (max-width: 768px) {
  .content-rules {
    padding: 1em;
  }
}
.rules-header {
  text-align: center;
}
.rules-header h2 {
  font-weight: 700;
}
.rules-card {
  margin-bottom: 1rem;
}
.rules-card h3 {
  margin-bottom: 0.1rem;
}
.rules-card ul {
  margin: 0;
}
.content-rules:last-child p {
  font-weight: 600;
}