.content-table {
    padding: 2rem 30px 1rem 30px;
}
@media screen and (max-width: 768px) {
    .content-table {
      padding: 1rem 1rem;
    }
    .table-prices {
        width: 100%;
    }
}
.content-table h3 {
    text-align: center;
}
.about {
    padding: 34px 30px;
    text-indent: 0.5rem;
    background-image: url('../img/about-image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0 ,0, 0, 0.8);
            box-shadow: inset 0 0 0 1000px rgba(0 ,0, 0, 0.8);
    color: rgba(228,179,76, 0.8);
}
.about .mobile-page-header{
    color: rgba(228,179,76, 0.8);
}
@media screen and (max-width: 768px) {
    .about {
      padding: 1em;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .about p {
        margin-top: 0;
    }
}
.table-prices {
    margin-top: 1rem;
    min-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #c8d1d7;
}
.table-prices tr {
    border-bottom: 1px solid #c8d1d7;
}
.table-prices th {
    text-align: left;
    padding: 0.75rem;
}
.table-prices td {
    max-width: 3rem;
    padding: 0.75rem;
}
.table-prices td[colspan='2'] {
    text-align: center;
}
.table-prices tbody tr:hover {
    background-color: rgb(228,179,76);
    color: white;
}
.table-prices tbody tr:hover td.row-head {
    background-color: #fff;
    color: gray;
}
.table-prices thead tr {
    background-color: #eef1f2;
}
@media screen and (max-width: 768px) {
    .table-main th, .table-main td {
        padding: 0.4rem;
        font-size: 0.6rem;
        word-wrap: break-word;
    }
}