.main-footer {
    padding: 3em 2em 1em 2em;
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .main-footer {
      padding: 1em 1em;
    }
}
.footer-flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    .footer-flexbox-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .main-footer .footer-flexbox-container .footer-block {
        text-align: center;
    }
}
.main-footer .footer-flexbox-container .footer-about {
    max-width: 40%;
}
@media screen and (max-width: 768px) {
    .main-footer .footer-flexbox-container .footer-about {
        text-align: center;
        align-self: stretch;
        max-width: 100%;
    }
}
.main-footer .footer-links {
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .main-footer .footer-links {
      margin-bottom: 30px;
    }
}
.main-footer .footer-links li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: block;
}
.main-footer .footer-links li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.main-footer .footer-links li a:hover {
    text-decoration: underline;
}
.main-footer h4 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-footer .copyright {
    display: block;
    margin-top: 2em;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .main-footer .copyright {
        margin-top: 0;
    }
}
.main-footer .copyright .copyright-block {
    display: block;
}
.social-icons {
    margin: 0;
    padding: 0;
}
.social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    zoom: 1;
}
.social-icons li a {
    display: inline-block;
    zoom: 1;
    color: rgb(228,179,76);
    padding-left: 10px;
    padding-right: 10px;
}
.social-icons li a i {
    font-size: 20px;
}
