* {
  box-sizing: border-box;
}
body {
  font-family: "Open+Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: gray;
  background: #e8e8e8;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}
a {
  color: rgb(228,179,76);
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #66D37E;
  outline: none;
  text-decoration: none;
}
.container-wrap {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 1em;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .container-wrap {
    width: 100%;
  }
}
.about {
  padding: 34px 30px;
  background: rgb(255,255,255);
  background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(200,209,215,1) 87%, rgba(251,249,249,1) 100%); 
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 3em 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* HEADER&NAV */
/* HEADER&NAV */
/* HEADER&NAV */
.main-nav {
  margin: 5em 0 0 0;
}
@media screen and (max-width: 768px) {
  .main-nav {
    margin: 0;
  }
}
.main-nav .top-menu {
  position: relative;
  padding: 34px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
.main-nav .top-menu {
  padding: 15px 1em;
}
}
/* .main-nav #main-logo {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
} */
#main-logo {
  max-width: 10%;
  height: auto;
  margin: 0;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  #main-logo {
    max-width: 15%;
  }
}
.main-nav #main-logo a:hover {
  color: #000;
}
.main-nav a {
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
}
.main-nav ul {
  padding: 0;
  margin: 5px 0 0 0;
}
.main-nav ul li {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.main-nav ul li a {
  position: relative;
  font-size: 15px;
  padding: 30px 12px;
  color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.main-nav ul li a:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  width: 58%;
  height: 2px;
  background: rgb(228,179,76);
  margin: 0 auto;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, -10px, 0);
}
.main-nav ul li a:hover {
  color: #000;
}
.main-nav ul li a:hover:after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.main-nav ul li.active > a {
  color: #000 !important;
  position: relative;
}
.main-nav ul li.active > a:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  width: 58%;
  height: 2px;
  background: rgb(228,179,76);
  margin: 0 auto;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, 0px, 0);
}
      /* Mobile menu sandwich */
#nav-sandwich {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 5px;
  transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
  #nav-sandwich {
      display: flex;
  }
  .top-menu ul {
      display: none;
  }
  .top-menu ul.open {
      display: flex;
      flex-direction: column;
  }
  #nav-list.open li a{
      padding: 10px 12px;
  }
  .main-nav ul li.active > a:after {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      content: '';
      width: 58%;
      height: 2px;
      background: rgb(228,179,76);
      margin: 0 auto;
      opacity: 1;
      transition: transform 0.3s, opacity 0.3s;
      transform: translate3d(0, 0px, 0);
  }
  .main-nav ul li a:after {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      content: '';
      width: 58%;
      height: 2px;
      background: rgb(228,179,76);
      margin: 0 auto;
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
      transform: translate3d(0, -10px, 0);
    }
}
#nav-sandwich .baseline {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 30px;
  left: 15px;
  background-color: black;
  transition-duration: 0.25s;
}
#nav-sandwich .baseline:before,
#nav-sandwich .baseline:after {
position: absolute;
width: 30px;
height: 2px;
background-color: black;
content: "";
transition-duration: 0.25s;
}
#nav-sandwich .baseline:before {
  top: -7px;
  left: 0;
}
#nav-sandwich .baseline:after {
  top: 7px;
  left: 0;
}
#nav-sandwich:hover {
  cursor: pointer;
}
#nav-sandwich:hover .baseline:before {
  top: -10px;
}
#nav-sandwich:hover .baseline:after {
  top: 10px;
}
#nav-sandwich.open {
  transition-duration: 1s;
  transform: rotate(180deg);
}
#nav-sandwich.open .baseline {
  transition-duration: 0.5s;
  background-color: transparent;
}
#nav-sandwich.open .baseline:before {
  transition-duration: 0.5s;
  top: 0;
  transform: rotate(45deg);
}
#nav-sandwich.open .baseline:after {
  transition-duration: 0.5s;
  top: 0;
  transform: rotate(-45deg);
}
/* FOOTER */
/* FOOTER */
/* FOOTER */
.main-footer {
  padding: 3em 2em 1em 2em;
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .main-footer {
    padding: 1em 1em;
  }
}
.footer-flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .footer-flexbox-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .main-footer .footer-flexbox-container .footer-block {
      text-align: center;
  }
}
.main-footer .footer-flexbox-container .footer-about {
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .main-footer .footer-flexbox-container .footer-about {
      text-align: center;
      align-self: stretch;
      max-width: 100%;
  }
}
.main-footer .footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main-footer .footer-links {
    margin-bottom: 30px;
  }
}
.main-footer .footer-links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
.main-footer .footer-links li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.main-footer .footer-links li a:hover {
  text-decoration: underline;
}
.main-footer h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-footer .copyright {
  display: block;
  margin-top: 2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-footer .copyright {
      margin-top: 0;
  }
}
.main-footer .copyright .copyright-block {
  display: block;
}
.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  zoom: 1;
}
.social-icons li a {
  display: inline-block;
  zoom: 1;
  color: rgb(228,179,76);
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons li a:hover {
  color: #66D37E;
}
.social-icons li a i {
  font-size: 20px;
}