* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "Open+Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  color: gray;
  background: #e8e8e8;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}
a {
  color: rgb(228,179,76);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #66D37E;
  outline: none;
  text-decoration: none;
}
.container-wrap {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 1em;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .container-wrap {
    width: 100%;
  }
}
.mobile-page-header {
  display: none;
  margin: 0;
  font-weight: 550;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .mobile-page-header {
    display: block;
  }
}
/* HEADER&NAV */
/* HEADER&NAV */
/* HEADER&NAV */
.main-nav {
  margin: 5em 0 0 0;
}
@media screen and (max-width: 768px) {
  .main-nav {
    margin: 0;
  }
}
.main-nav .top-menu {
  position: relative;
  padding: 34px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .main-nav .top-menu {
    padding: 15px 1em;
  }
}
/* .main-nav #main-logo {
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
} */
.main-nav div.main-logo-holder {
  display: inline;
  max-width: 10%;
}
#main-logo {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .main-nav div.main-logo-holder {
    max-width: 15%;
  }
}
.main-nav #main-logo a:hover {
  color: #000;
}
.main-nav .mobile-booking {
  display: none;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 0 0 0;
}
.nav-spaceholder {
  min-width: 10%;
  height: auto;
  margin: 0;
  display: block;
}
.main-nav .nav-phone a {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .main-nav .mobile-booking {
    display: block;
  }
}
.main-nav a {
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
}
.main-nav ul {
  padding: 0;
  margin: 5px 0 0 0;
}
.main-nav ul li {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.main-nav ul li a {
  position: relative;
  font-size: 15px;
  padding: 30px 12px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.main-nav ul li a:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  width: 58%;
  height: 2px;
  background: rgb(228,179,76);
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}
.main-nav ul li a:hover {
  color: #000;
}
.main-nav ul li a:hover:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.main-nav ul li.active > a {
  color: #000 !important;
  position: relative;
}
.main-nav ul li.active > a:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  width: 58%;
  height: 2px;
  background: rgb(228,179,76);
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 0px, 0);
          transform: translate3d(0, 0px, 0);
}
      /* Mobile menu sandwich */
#nav-sandwich {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 5px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
@media screen and (max-width: 768px) {
  #nav-sandwich {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .top-menu ul {
      display: none;
  }
  .top-menu ul.open {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;
  }
  .top-menu ul.open li {
    margin: 0.15rem 0;
  }
  #nav-list.open li a{
      padding: 10px 12px;
  }
  .main-nav ul li.active > a:after {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      content: '';
      width: 58%;
      height: 2px;
      background: rgb(228,179,76);
      margin: 0 auto;
      opacity: 1;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translate3d(0, 0px, 0);
              transform: translate3d(0, 0px, 0);
  }
  .main-nav ul li a:after {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      content: '';
      width: 58%;
      height: 2px;
      background: rgb(228,179,76);
      margin: 0 auto;
      opacity: 0;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
    }
}
#nav-sandwich .baseline {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 30px;
  left: 15px;
  background-color: black;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
#nav-sandwich .baseline:before,
#nav-sandwich .baseline:after {
position: absolute;
width: 30px;
height: 2px;
background-color: black;
content: "";
-webkit-transition-duration: 0.25s;
     -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
}
#nav-sandwich .baseline:before {
  top: -7px;
  left: 0;
}
#nav-sandwich .baseline:after {
  top: 7px;
  left: 0;
}
#nav-sandwich:hover {
  cursor: pointer;
}
#nav-sandwich:hover .baseline:before {
  top: -10px;
}
#nav-sandwich:hover .baseline:after {
  top: 10px;
}
#nav-sandwich.open {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#nav-sandwich.open .baseline {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: transparent;
}
#nav-sandwich.open .baseline:before {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nav-sandwich.open .baseline:after {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* FOOTER */
/* FOOTER */
/* FOOTER */
.main-footer {
  padding: 3em 2em 1em 2em;
  margin-top: 1em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .main-footer {
    padding: 1em 1em;
  }
}
.footer-flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .footer-flexbox-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .main-footer .footer-flexbox-container .footer-block {
      text-align: center;
  }
}
.main-footer .footer-flexbox-container .footer-about {
  max-width: 40%;
}
@media screen and (max-width: 768px) {
  .main-footer .footer-flexbox-container .footer-about {
      text-align: center;
      -ms-flex-item-align: stretch;
          -ms-grid-row-align: stretch;
          align-self: stretch;
      max-width: 100%;
  }
}
.main-footer .footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main-footer .footer-links {
    margin-bottom: 30px;
  }
}
.main-footer .footer-links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
  display: block;
}
.main-footer .footer-links li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.main-footer .footer-links li a:hover {
  text-decoration: underline;
}
.main-footer h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-footer .copyright {
  display: block;
  margin-top: 2em;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-footer .copyright {
      margin-top: 0;
  }
}
.main-footer .copyright .copyright-block {
  display: block;
}
.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  zoom: 1;
}
.social-icons li a {
  display: inline-block;
  zoom: 1;
  color: rgb(228,179,76);
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons li a:hover {
  color: #66D37E;
}
.social-icons li a i {
  font-size: 20px;
}
/* Tab buttons  */
.tab-button {
    display: inline-block;
    border: 1px solid #c8d1d7;
    padding: 1rem 1rem;
    margin: 0.5rem 0 0 0;
    text-decoration: none;
    background: white;
    color: gray;
    font-family: "Open+Sans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background 250ms ease-in-out, 
                -webkit-transform 150ms ease;
    transition: background 250ms ease-in-out, 
                -webkit-transform 150ms ease;
    -o-transition: background 250ms ease-in-out, 
                transform 150ms ease;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    transition: background 250ms ease-in-out, 
                transform 150ms ease, 
                -webkit-transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@media screen and (max-width: 768px) {
  .tab-button {
    width: calc(100%/3.1);
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
  }
}
.tab-button:hover {
    border: 1px solid rgb(228,179,76);
}
.tab-button:focus {
    outline: none;
}
.tab-button:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}
.tab-button.button-active {
    border: 2px solid rgb(228,179,76);
}
.tab-button small {
  font-size: 0.6rem;
}
.display-none {
  display: none;
}
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}