a.desktop-yclients {
    font-family: "Source Sans Pro", sans-serif;
    height: 0.5rem;
    border: 1.5px rgb(228,179,76) solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}
a.desktop-yclients:hover {
    background-color: rgb(228,179,76);
    color: white;
}
button.mobile-yclients {
    width: 100%;
    display: inline-block;
    border: 1px solid #c8d1d7;
    padding: 1rem 1rem;
    margin: 0.5rem 0 0 0;
    text-decoration: none;
    background-color: rgb(228,179,76);
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
button.mobile-yclients:focus {
    outline: 0;
}
button.mobile-yclients:active {
    outline: none;
    border: 1.5px rgb(228,179,76) solid;
}