a.desktop-yclients {
    font-family: "Source Sans Pro", sans-serif;
    height: 0.5rem;
    border: 1.5px rgb(228,179,76) solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}
a.desktop-yclients:hover {
    background-color: rgb(228,179,76);
    color: white;
}
#mobile-yclients-target {
    border: 1.5px rgb(228,179,76) solid;
}
a.mobile-yclients {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
button.mobile-yclients:focus {
    outline: 0;
}
button.mobile-yclients:active {
    outline: none;
    border: 1.5px rgb(228,179,76) solid;
}